{% load static %}


<h1 class="products_header">Список товаров:</h1>
{% verbatim %}
<div id="product_list" class="product_list">
    <ol v-if="products.length" class="products">
        <li v-for="(product, index) in products" class="product">
            <span class="product_index">№: {{ index }}</span>&nbsp&nbsp
            Продукт: &nbsp
            <input type="text" v-model="product.name" v-on:change="update_on_server(product)"></input>&nbsp&nbsp
            Количество: &nbsp
            <input type="number" min=0 max=1000000 step=0.1 v-model.number="product.amount" v-on:change="update_on_server(product)"></input>&nbsp&nbsp
            <button v-on:click="move_lower(product)">⋁</button>
            <button v-on:click="move_higher(product)">⋀</button>
            <button v-on:click="delete_product(product)">⌫</button>
        </li>
        <li class="product">
            <button v-on:click="add_product()" class="product_add_button">+</button>
        </li>
    </ol>
    <div v-else="products" class="products">
        Products are absent yet.
        Please, add some.
        <button v-on:click="add_product()" class="product_add_button">+</button>
    </div>
</div>
{% endverbatim %}
 <script type="text/javascript" src="{% static "products/js/product_list.js" %}"></script>
 <link rel="stylesheet" href="{% static 'products/css/product_list.css' %}">
